.eerC {
  //position: relative;
  //width: 100%;
  //height: 100%;

  background: white;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
}

.eerContent {
  width: 100%;
  min-width: 400px;
  min-height: 150px;
  background-color: white;

  border: 1px dashed #eee;
}

@mixin notification {
  background: rgba(255, 255, 255, 0.95)!important;
  border-right: 4px solid;

  @media (min-width: 768px) {

  }
}
.successNotification{
  @include notification;
  border-color: #00a854;
}
.infoNotification{
  @include notification;
  border-color: #108ee9;
}
.warningNotification{
  @include notification;
  border-color: #ffbf00;
}
.errorNotification{
  @include notification;
  border-color: #f04134;
}