@import "config";

.layout {
  @include boxFullHeight;
  height: 100vh;

  .header {
    @include boxFH-item-top;
  }

  .antContent {
    //margin-top: -64px;
    //padding: 64px 50px 20px;
    //height: 100vh;

    @include boxFH-item-bottom;


    @include boxFullHeight;

    .breadCrum {
      @include boxFH-item-top;

      padding: 16px 50px;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .breadToolbarText {

      }
    }
    .contentC {
      @include boxFH-item-bottom;

      padding: 0 50px 20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
    }
  }
}

:global(.ant-menu) {
}

.headerRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.toolbar {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.breadToolbar {
  .breadToolbarText {
    margin-right: 12px;
  }
}

.tooltip{
  b{color: #46a6ff}
}