@mixin boxFullHeight {
  display: flex;
  flex-flow: column nowrap;
  //height: 100vh;
}

@mixin boxFH-item-top {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

@mixin boxFH-item-bottom {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}